@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

canvas {
  display: flex;
  height: 100vh;
}

#stats {
 max-height: 100px;
}